---
layout: home
title: 248 Army Cadet Unit - City of Sydney (Gadigal)
tagline: >
  Developing Australia's Future Leaders
header:
  og_image: /assets/images/og/248acu-og.jpg
  hero_title: Australian Army Cadets
  hero_tagline: Developing Australia's Future Leaders
  overlay_image: /assets/images/home/248acu-home-banner.jpg
  
slider_images:
  - src: /assets/images/home/banner-2025/banner-2025-1.jpg
    captions: 
      - text: Honouring the Anzac Legacy
        style: >
          font-size: 100px; 
          max-width: 500px; 
          text-align: right; 
          right: 20px; 
          bottom: 30%; 
          margin-bottom: -96px;
  - src: /assets/images/home/banner-2025/banner-2025-2.jpg
    captions: 
      - text: Army Cadets
        style: >
          font-size: 120px; 
          text-align: center; 
          width: 100%; 
          bottom: 40%; 
      - text: Leading the way
        style: >
          font-size: 94px; 
          text-align: center; 
          width: 100%;
          bottom: 40%; 
          margin-bottom: -94px;
  - src: /assets/images/home/banner-2025/banner-2025-3.jpg
    captions: 
    - text: Represent more than just yourself
      style: >
        font-size: 96px; 
        max-width: 720px; 
        text-align: right; 
        right: 20px; 
        bottom: 50%; 
        margin-bottom: -144px;
  - src: /assets/images/home/banner-2025/banner-2025-4.jpg
    captions: 
    - text: Teamwork makes
      style: >
        font-size: 94px;
        text-align: center;
        width: 100%;
        bottom: 50%;
    - text: the dream work
      style: >
        font-size: 120px; 
        text-align: center; 
        width: 100%;
        bottom: 50%; 
        margin-bottom: -120px;
  - src: /assets/images/home/banner-2025/banner-2025-5.jpg
    captions:
    - text: The youth of today
      style: >
        font-size: 96px;
        text-align: left;
        max-width: 500px;
        left: 20px;
        top: 20px;
    - text: > 
        The leaders 
        of tomorrow
      style: >
        font-size: 88px;
        text-align: right;
        max-width: 560px;
        right: 20px;
        bottom: 20px;

feature_row:
  - image_path: /assets/images/thumbnails/248acu-about-army-cadets.jpg
    alt: "About Army Cadets"
    image_caption: "About Us"
    excerpt: "What kinds of activities do we do, and how regularly do we meet?"
    img_url: /about/
  - image_path: /assets/images/thumbnails/248acu-how-to-join-cadets.jpg
    alt: "How to Join Cadets"
    image_caption: "Join Cadets"
    excerpt: "Join 248 ACU and begin your recruit journey. Ages 13-17 welcome."
    img_url: /join/
  - image_path: /assets/images/thumbnails/248acu-adult-volunteer.jpg
    alt: "Become an adult volunteer"
    image_caption: "Volunteering"
    excerpt: "We're seeking youth leaders and adult volunteers to join our team."
    img_url: /volunteer/

entries_layout: grid # for the news
---

<style>
  #rsvp-dec-2023 {
    background: #ffd900;
    color: #222;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  #rsvp-dec-2023 hr {
    border-color: #222;
    border-width: 2px;
  }

  @media (max-width: 768px) {
    #rsvp-dec-2023 {
      text-align: center;
      flex-direction: column;
      gap: 10px;
      font-size: 12px;
    }

    #rsvp-dec-2023 hr {
      display: none;
    }
  }
</style>

<div id="rsvp-dec-2023">
  <hr style="width: 60px;">
  <div>Annual Parade - 8<sup>th</sup> Dec 2024: Visitor Registration Form</div>
  <a class="btn btn--large btn--inverse" href="https://forms.gle/WVq7eQCVK5fxH95E8" target="_blank">Register
    here</a>
  <hr style="width: 60px;">
</div>

<article class="headlines" style="margin-bottom: 2em;">
  <h4 style="font-size: 1.1em">
    248 Army Cadet Unit City of Sydney (Gadigal) is located at Victoria Barracks, Sydney
    in Paddington with cadets aged 13-18 from local high schools and the wider community.
    <span style="color: #777;">{% include next_intake.html %}</span>
  </h4>
</article>

<section>
  <h3 class="archive__subtitle">Featured Articles</h3>
  {% include feature_row.html %}
</section>

<h3 class="archive__subtitle">
  <a href="{% link _pages/latest-news.md %}" style="float: right">All news &rarr;</a>
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>