---
layout: home
title: 248 Army Cadet Unit - City of Sydney (Gadigal)
tagline: >
  Developing Australia's Future Leaders
header:
  og_image: /assets/images/og/248acu-og.jpg
  hero_title: Australian Army Cadets
  hero_tagline: Developing Australia's Future Leaders
  overlay_image: /assets/images/home/248acu-home-banner.jpg
feature_row:
  - image_path: /assets/images/teasers/248acu-about-army-cadets.jpg
    alt: "Army cadets on Anzac Day parade"
    title: "About Army Cadets"
    excerpt: "What does an Army Cadet Unit do?"
    img_url: /about/
  - image_path: /assets/images/teasers/248acu-how-to-join-cadets.jpg
    alt: "Army cadets in the bush doing field training"
    title: "How to Join Cadets"
    excerpt: "Join 248 ACU or transfer to our unit!"
    img_url: /join/
  - image_path: /assets/images/teasers/248acu-adult-volunteer.jpg
    alt: "An adult Officer of Cadets is a community volunteer"
    title: "Become a volunteer"
    excerpt: "248 ACU is run by adult volunteer leaders"
    img_url: /volunteer/
entries_layout: grid  # for the news
---

{% comment %}
<style>
  #rsvp-dec-2023 {
    background: #870000;
    box-shadow: inset 0 10px 24px #3d1d01;
    color: white; 
    padding: 16px 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  #rsvp-dec-2023 hr {
    border-color: white;
    border-width: 2px;
  }
  @media (max-width: 768px) {
    #rsvp-dec-2023 {
      text-align: center;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
    }
    #rsvp-dec-2023 hr {
      display: none;
    }
  }
</style>

<div id="rsvp-dec-2023">
  <hr style="width: 60px;">
  <div>Sunday 17 December: Visitor Registration Form</div>
  <a class="btn btn--large btn--light-outline" href="https://forms.gle/WVq7eQCVK5fxH95E8" target="_blank">Register here</a>
  <hr style="width: 60px;">
</div>

<script>
  window.addEventListener('load', function () {
    if (Date.now() > new Date('2023-12-18')) {
      document.querySelector('#rsvp-dec-2023').remove();
    }
  });
</script>
{% endcomment %}

<article class="headlines" style="margin-bottom: 2em;">
  <h4 style="font-size: 1.1em">
    248 Army Cadet Unit City of Sydney (Gadigal) is located at Victoria Barracks, Sydney 
    in Paddington with cadets aged 13-18 from local high schools and the wider community. 
    <span style="color: #777;">{% include next_intake.html %}</span>
  </h4>
</article>

{% include feature_row %}

<h3 class="archive__subtitle">
  <a href="{% link _pages/latest-news.md %}" style="float: right">See all news &rarr;</a>
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>
