& {
  background: url("/assets/images/home/248acu-2024h1-open-day-banner.jpg") no-repeat center center/cover #74a9ef;
  height: 440px;
  .wrapper {
    padding: 1em;
    max-width: $max-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .wrapper__content {
    padding: 1em;
    background: rgba($backdrop-color, .3);
    backdrop-filter: blur(2px);
    text-align: left;
    border-radius: $border-radius;
    @include breakpoint($small) {
      text-align: right;
    }
  }
  .page__title {
    color: white;
    font-size: $type-size-1 * 1.5;
  }
  .page__lead {
    color: white;
    font-size: $type-size-3;
    line-height: 1.1;
  }
  .page__title + .page__lead,
  .page__lead + .page__lead {
    margin-top: -1em;
  }
  .btn {
    font-size: $type-size-4;
    animation: transform .2s ease;
    &.btn--link {
      color: white;
      &:hover, &:active {
        color: white;
      }
    }
    &.btn--success {
      &:hover, &:active {
        transform-origin: center;
        transform: scale(1.05);
        text-decoration: none;
      }
    }
  }
}
  