& {
    // Hide this slider on smaller, mobile screens.
    display: none;
    @include breakpoint($small) {
        display: block;
    }
}

.wrapper {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.carousel {
    margin-top: 1em;
    max-height: 800px;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    position: relative;

    &__slide {
        position: relative;

        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 100%;
        height: 400px;

        @include breakpoint($medium) {
            height: 500px;
        }

        @include breakpoint($large) {
            height: 600px;
        }
    }

    &__overlay {
        display: none; // The overlay captions don't work on smaller screens
        animation: none;
        opacity: 0;

        // Absolute positioned overlay with 70% black background.
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.4);

        // Only run captions on large screens otherwise text gets scrunched up on smaller screens.
        @include breakpoint($large) {
            display: block;
        }

        // This modifier class will be toggled on the overlay to show it with an animation.
        &--shown {
            // Fade in animation effect with 2s delay and 2s duration 
            animation: intro 1s ease-in 1s forwards;
        }

        &__caption {
            position: absolute;
            display: inline-block;
            font-family: 'Boston Traffic', Arial, sans-serif;
            color: white;
            line-height: 1;
            font-size: $type-size-1; // Will likely be overridden by inline styles
        }
    }
}