<style>
table.bank-account {
  border-collapse: collapse;
  margin: 2em 1em;
  font-size: 1rem;
}
table.bank-account th,
table.bank-account td {
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-bottom: none;
}
</style>
<div class="well">📢 Please be aware that our bank account details have changed as of 01 July 2023!</div>
<table class="table bank-account">
  <tr>
    <th>Account Name</th>
    <td>248 ACU Association</td>
  </tr>
  <tr>
    <th>BSB</th>
    <td>062-028</td>
  </tr>
  <tr>
    <th>Account Number</th>
    <td>1221 9011</td>
  </tr>
</table>