<style>
#rsvp-dec-2023 {
    color: #222;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    background: #ffd900;
    background-image: repeating-linear-gradient(
    45deg,
    #ffd900,
    #ffd900 20px,
    #ffcc00 20px,
    #ffcc00 40px
    );
    border: 6px solid rgb(255, 204, 0, 0.4);
    background-clip: padding-box; /* Prevent background from extending into the border */
}

#rsvp-dec-2023 .btn {
    margin-bottom: 0;
    text-decoration: none;
}

@media (max-width: 768px) {
    #rsvp-dec-2023 {
    text-align: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    }
}
</style>

<div id="rsvp-dec-2023">
<div>Annual Parade - 8<sup>th</sup> Dec 2024: Visitor Registration Form</div>
<a class="btn btn--large btn--inverse" href="https://forms.gle/WVq7eQCVK5fxH95E8" target="_blank">Register
    here</a>
</div>
