{% comment %}
{% include page__hero.html %}
{% include page__hero_video.html %}
{% endcomment %}

<div class="page__hero--2023h1-open-day">
  <div class="wrapper">
    <div class="wrapper__content">
      <h1 id="page-title" class="page__title" itemprop="headline">February Open Day</h1>
      <p class="page__lead">
        10am, Saturday 18 Feb at Victoria Barracks, Sydney <br>
        <small>(Entry via Oxford St only)</small>
      </p>
      <div>
        <a class="btn btn--link" href="{% link _posts/2022-10-06-23H1-open-day-and-intake.md %}">More information</a>
        <a class="btn btn--success" href="{{ site.data.links.open_day_google_form_url }}" target="_blank">📝 Register now</a>
      </div>
    </div>
  </div>
</div>