<div class="quick-links">
    <a href="{% link _pages/payments.md %}" class="btn quick-links__button">
        <span class="fa fa-credit-card"></span>
        Online Payments
    </a>
    <a href="{% link _pages/attendance-and-fees.md %}" class="btn quick-links__button">
        <span class="far fa-calendar-alt"></span>
        Attendance and Fees
    </a>
    <a href="{% link _pages/landing/consent-form.md %}" class="btn quick-links__button">
        <span class="fas fa-question-circle"></span>
        Consent Form Help
    </a>
    <a href="https://www.facebook.com/248acu" class="btn quick-links__button">
        <span class="fab fa-facebook"></span>
        Facebook Page
    </a>
</div>