Our next enrolment opportunity is <span class="autofill_next-intake">within the next 6 months</span>.
{% raw %}
<script>
if (!window['248acu_autofillNextIntake']) {
  window['248acu_autofillNextIntake'] = window.addEventListener('load', function () {
    var now = new Date();
    document.querySelectorAll('.autofill_next-intake').forEach(function (target) {
      if (now.getMonth() < 2 || now.getMonth() > 7) {
      target.innerHTML = 'Term 1, ' + (now.getFullYear() + (now.getMonth() > 7 ? 1 : 0));
    } else {
      target.innerHTML = 'Term 3, ' + now.getFullYear();
    }
    });
  })
}
</script>
{% endraw %}