{% assign src = include.src | default: include.image.src %}
{% assign href = include.href | default: include.image.href | default: src %}
{% assign alt = include.alt | default: include.image.alt | default: include.image.caption %}
{% assign caption = include.caption | default: include.image.caption | default: include.image.alt %}

<figure class="{{ include.class }}" style="{{ include.style }}">
    <a href="{{ href | absolute_url }}" title="{{ caption | escape }}">
        <img src="{{ src | absolute_url }}" alt="{{ alt | escape }}">
    </a>
    {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>
