body.layout--home {
  $backdrop-color: #000;
  .initial-content {
    overflow: hidden;
    .page__title {
      // background: $backdrop-color;
      // backdrop-filter: blur(2px);
      // border-radius: 20px;
      display: block;
      text-align: left; 
      text-transform: uppercase;
      letter-spacing: -2px;
      word-spacing: 600px; 
      font-size: 48px;
      line-height: 85%;
      @include breakpoint($small) {
        word-spacing: initial;
        font-size: 60px;
        line-height: 80%;
        text-align: center;  // happy accident, this looks pretty cool
        width: 60px * 8;  // Constrain multiple lines
        text-shadow: 0 5px 10px rgba($backdrop-color, .44);
      }
      @include breakpoint($medium) {
        font-size: 90px;
        width: 90px * 8;  // Constrain multiple lines
        text-shadow: 0 8px 20px rgba($backdrop-color, .44);
      }
      @include breakpoint($x-large) {
        font-size: 120px;
        width: 1000px;  // Constrain multiple lines
      }
      padding: 8px 10px;
      position: relative;
      &::before {
        content: "";
        z-index: -1;
        display: none;
        position: absolute;
        width: 120%;
        height: 120%;
        top: -10%;
        left: -10%;
        border-radius: 50%;
        background: $backdrop-color;
        backdrop-filter: blur(2px);
      }
    }
    .page__hero--overlay {
      .page__lead {
        font-family: $bodoni;
        display: none;
        text-align: center;
        @include breakpoint($small) {
          display: block;
          text-align: right;
          font-size: 1.4em;
          text-shadow: 0 3px 5px rgba($backdrop-color, .65);
        }
        @include breakpoint($medium) {
          margin-left: auto;
          text-align: center;
          font-size: 2em;
          text-shadow: 0 3px 10px rgba($backdrop-color, .48);
        }
      }
    }
  }
}