.fees__group {
    margin-top: 2em;
    margin-bottom: 2em;
}

.fees__box {
    overflow: auto;
    padding: 20px;
    // min-width: 259px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-family: Roboto, Arial, sans-serif;
    margin-bottom: 10px;

    &__title {
        font-size: 18px;
        line-height: 20px;
    }

    &__price {
        font-size: 18px;
        line-height: 20px;
        height: 40px;

        &--amount {
            font-size: 1.45em;
            font-weight: 600;
        }
    }
}

.fees__button {
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    color: #000000 !important;
    text-decoration: none !important;
    min-width: 212px;
    background-color: #ffbf00;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
    border-radius: 6px;

    &--green {
        background-color: #00ad74;
        color: white !important;
    }

    &--blue {
        background: #2980b9;
        color: white !important;
    }

    &-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}