.fees__group {
    margin-top: 2em;
    margin-bottom: 2em;
}

.fees__box {
    overflow: auto;
    padding: 20px;
    // min-width: 259px;
    background: $code-background-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-family: Roboto, Arial, sans-serif;
    margin-bottom: 10px;

    &__title {
        font-size: 18px;
        line-height: 20px;
    }

    &__price {
        font-size: 18px;
        line-height: 20px;
        height: 40px;

        &--amount {
            font-size: 1.45em;
            font-weight: 600;
        }
    }
}

.fees__button {
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    text-decoration: none !important;
    min-width: 212px;
    background-color: #ffbf00;
    color: #111 !important; // Goes with yellow #ffbf00
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
    border-radius: $border-radius;

    &--green {
        background-color: #00ad74;
        color: white !important;
    }

    &--blue {
        background: hsl(204, 64%, 44%);
        color: white !important;
    }

    &-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.fees__payment-link {
    width: 400px;
}
