---
layout: default
author_profile: false
---

{% assign news_category = page.news_category | default: "news" %}
{% assign posts = site.posts | where:"categories",news_category %}
{% assign date_format = site.date_format | default: "%-d %B, %Y" %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive archive--news">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {% for post in posts %}
        
      {% if post.header.teaser %}
        {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
      {% else %}
        {% assign teaser = site.teaser %}
      {% endif %}

      {% if post.id %}
        {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
      {% else %}
        {% assign title = post.title %}
      {% endif %}

      <div class="list__item list__item--news">
        {% if post.date %}
        <section class="list__item-date">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
        </section>
        {% endif %}
        {% if teaser %}
        <div class="list__item-teaser">
          <a href="{{ post.url | relative_url }}"><img src="{{ teaser | relative_url }}" alt="Image for {{page.title}}"></a>
        </div>
        {% endif %}
        <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
          <h2 class="archive__item-title no_toc" itemprop="headline">
            {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
              <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
            {% endif %}
          </h2>
          {% include page__meta.html type=include.type %}
          {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        </article>
      </div>

    {% endfor %}
  </div>
</div>
